*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Arvo", serif;
}

html, body {
    height: 100%;
    margin: 0;
    background-color: #f9fafb;
    color: #333;
    text-align: center;
    display: flex;
    flex-direction: column;
}

/* Cabeçalho */
header {
    background-color: #61c19e;
    color: white;
    padding: 25px 0;
    font-size: 1.8em;
    font-weight: 700;
    letter-spacing: 1px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

/* Banner */
.banner {
    padding: 60px 0;
    position: relative;
    height: 40vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    background-size: cover;
    background-position: center;
    transition: opacity 0.8s ease-in-out; /* transição de opacidade (fade) */
    will-change: background-image, opacity;
}

/* camada escura para contraste do texto */
.banner::after {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.4);
    z-index: 1;
}

/* texto acima da camada de overlay */
.banner h1, .banner p, .banner a {
    position: relative;
    z-index: 2;
    text-shadow: 1px 1px 4px rgba(0,0,0,0.5);
}

.banner h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
    text-shadow: 1px 1px 4px rgba(0,0,0,0.4);
}

.banner p {
    font-size: 1.2em;
    max-width: 600px;
    margin: 0 auto;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.4);
}

.banner a{
    margin-top: 20px;
    color: white;
    padding: 3px 6px;
    font-weight: 700;
    font-size: 1.2em;
    transition: background 0.3s ease;
}

.banner a:hover{
    color: #61c19e;
}

/* Mitolyn */

section.mitolyn {
    background-color: #F9FAFB;
    padding: 60px 20px;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

section.mitolyn h1 {
    color: #3ca584;
    margin-bottom: 15px;
}

section.mitolyn p {
    max-width: 700px;
    margin: 0 auto;
    line-height: 1.6;
    font-size: 1.1em;
    color: #666;
}

section.mitolyn a.botao {
    margin-top: 35px;
    background: linear-gradient(135deg, #61c19e, #3ca584);
    color: white;
    padding: 14px 32px;
    border-radius: 30px;
    text-decoration: none;
    font-weight: 700;
    font-size: 1.1em;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    width: 300px;
}

section.mitolyn a.botao:hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 10px rgba(0,0,0,0.15);
}

/* Produtos */
section.produtos {
    padding: 20px 0;
    background-color: #F3F4F6;
}

section.produtos .apresentation {
    text-align: center;
    margin-bottom: 12px;
}

section.produtos .apresentation h2{
    font-size: 2.5em;
    font-weight: bold;
    color: #7bd0b1;
}

section.produtos .apresentation p{
    margin-top: 2px;
    color: #666;
}

section.produtos .grid-produtos{
    max-width: 1152px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    gap: 32px;
    padding: 0 24px;

}

section.produtos .grid-produtos .produto{
    background-color: #ffffff;
    border-radius: 16px;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1),0 2px 4px -2px rgb(0 0 0 / 0.1);
    transition-property: all;
    transition-duration: 150ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    padding: 24px;
    text-align: center;
    display: flex;
    flex-direction: column;
}

section.produtos .grid-produtos .produto:hover {
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}

section.produtos .grid-produtos .produto img{
    border-radius: 14px;
    margin-bottom: 8px;
    width: 100%;
    height: 50%;
    object-fit: cover;
}

section.produtos .grid-produtos .produto h3{
    font-size: 1.2em;
    font-weight: 700;
    color: #366e59;
    margin-bottom: 2px;
}

section.produtos .grid-produtos .produto p{
    color: #666;
    margin-bottom: 4px;
    flex: 1;
}

section.produtos .grid-produtos .produto a{
    color: #61c19e;
    font-weight: normal;
    text-decoration: none;
}

section.produtos .grid-produtos .produto a:hover{
    text-decoration: underline;
}

/* Rodapé */
footer {
    margin-top: auto;
    background-color: #F3F4F6;
    padding: 20px;
    font-size: 0.9em;
    color: #666;
    text-align: center;
}



/*   Página Thank-You   */

.product-box {
    color: #666;
    background: white;
    border-radius: 15px;
    padding: 30px 20px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    width: 40%;
    max-width: 600px;
    margin: 20px auto 10px auto;
    display: flex;
    align-items: center;
    height: 40%;
}

.product-box img{
    width: 30%;
    height: 80%;
    object-fit: cover;
    border-radius: 10px;
}

.product-box div{
    width: 70%;
    height: 80%;
    display: flex;
    flex-direction: column;
    padding: 0 30px;
    justify-content: center;
}

.product-box div h1{
    text-align: left;
    font-size: 1.2em;
    color: #666;
}

.product-box div h2{
    margin-top: 5px;
    text-align: left;
    color: #256628;
    font-size: 1em;
}

.product-box div p{
    margin-top: 10px;
    width: 95%;
    text-align: justify;
    font-size: 1em;
    line-height: 1.4em;
}

.thankyou-box {
    color: #666;
    background: white;
    border-radius: 15px;
    padding: 40px 20px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    width: 40%;
    max-width: 600px;
    margin: 10px auto;
}
.thankyou-box h1 {
    margin-bottom: 10px;
}
.thankyou-box p {
    margin-top:30px;
    font-size:0.9em;
    color:#777;
    line-height: 1.5em;
}
.thankyou-box .redirect {
    margin-top: 30px;
}
.thankyou-box .redirect a.button {
    background-color: #61c19e;
    color: white;
    padding: 12px 25px;
    border-radius: 8px;
    text-decoration: none;
    font-weight: bold;
    transition: background 0.2s ease;
}
.thankyou-box .redirect a.button:hover {
    background-color: #256628;
}

/*Telas Pequenas*/
@media screen and (min-width: 640px){
    section.produtos .grid-produtos{
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}

@media (min-width: 1024px) {
    section.produtos .grid-produtos{
        grid-template-columns: repeat(3, minmax(0, 1fr))
    }
}

/* Tablets */
@media (max-width: 768px) {
    .banner h1 {
        padding: 0 20px;
        font-size: 1.5em;
    }

    .banner p {
        padding: 0 30px;
        font-size: 1em;
    }

    .product-box{
        width: 90%;
        flex-direction: column;
        height: auto;
    }

    .product-box img{
        width: 40%;
    }

    .product-box div{
        height: auto;
        width: 100%;
        align-items: center;
        padding: 0 10px;
    }

    .product-box div h1, .product-box div h2{
        text-align: center;
    }

    .product-box div h1{
        margin-top: 10px;
    }

    .product-box div p{
        text-align: center;
        width: 100%;
        line-height: 1.5em;
    }

    .thankyou-box {
        width: 90%;
    }
}

/* Cell */
@media (max-width: 480px) {
    .product-box{
        width: 90%;
        flex-direction: column;
        height: auto;
    }

    .product-box img{
        width: 40%;
    }

    .product-box div{
        height: auto;
        width: 100%;
        align-items: center;
        padding: 0 10px;
    }

    .product-box div h1, .product-box div h2{
        text-align: center;
    }

    .product-box div h1{
        margin-top: 10px;
    }

    .product-box div p{
        text-align: center;
        width: 100%;
        line-height: 1.5em;
    }

    .thankyou-box {
        width: 90%;
    }
}