*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Arvo", serif;
}

html, body {
    height: 100%;
    margin: 0;
    background-color: #f9fafb;
    color: #333;
    text-align: center;
    display: flex;
    flex-direction: column;
}

/* Cabeçalho com degradê suave */
header {
    background: linear-gradient(135deg, #61c19e);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    color: white;
    padding: 25px 0;
    font-size: 1.8em;
    font-weight: bold;
    letter-spacing: 1px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.banner {
    padding: 30px 0;
    position: relative;
    height: 40vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    background-size: cover;
    background-position: center;
    transition: opacity 0.8s ease-in-out; /* transição de opacidade (fade) */
    will-change: background-image, opacity;
}

/* camada escura para contraste do texto */
.banner::after {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.4);
    z-index: 1;
}

/* texto acima da camada de overlay */
.banner h1, .banner p {
    position: relative;
    z-index: 2;
    text-shadow: 1px 1px 4px rgba(0,0,0,0.5);
}

.banner h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
    text-shadow: 1px 1px 4px rgba(0,0,0,0.4);
}

.banner p {
    font-size: 1.2em;
    max-width: 600px;
    margin: 0 auto;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.4);
}

.content {
    background-color: #F9FAFB;
    padding: 60px 20px;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content h2 {
    color: #3ca584;
    margin-bottom: 15px;
}

.content p {
    max-width: 700px;
    margin: 0 auto;
    line-height: 1.6;
    font-size: 1.1em;
    color: #666;
}

a.botao {
    margin-top: 35px;
    background: linear-gradient(135deg, #61c19e, #3ca584);
    color: white;
    padding: 14px 32px;
    border-radius: 30px;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.1em;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    width: 300px;
}

a.botao:hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 10px rgba(0,0,0,0.15);
}

footer {
    padding: 20px;
    font-size: 0.9em;
    color: #666;
    text-align: center;
}

/*Telas Pequenas*/
@media screen and (max-width: 768px){
    .banner h1 {
        font-size: 1.5em;
        max-width: 300px;
    }

    .banner p {
        font-size: 1em;
        max-width: 300px;
    }
}